extend default

block content
	.about.row
		figure.col-xs-12.col-md-6.col-md-offset-3
			img.img-responsive(src='/assets/steve_randy_600p_compressed.jpg')
			figcaption Steve and Randy
	br
	p.blurb.
		Steve and Randy, the Founders of TMM, are die-hard music lovers and they bring broad experiences in promoting independent concerts throughout Colorado, Nebraska and Wyoming. These shows have been produced in a wide range of venues, from large outdoor amphitheaters to intimate rooms, and from state-of-the-art concert halls to historic churches.  Rounding out their musical background is experience in artist management, tour management, and artist booking.
