extend default

block content

	h3.
		Contact Us / Request A Booking

	br

	form.contact(method='POST' action='/contact')
		div.form-group
			input.form-control#name(type='text', placeholder='First and Last Name', name='name')
		div.form-group
			input.form-control#bandName(type='text', placeholder='Band Name (if applicable)', name='bandName')
		div.form-group
			input.form-control#email(type='email', placeholder='your_email@domain.com' name='email' )
		div.form-group
			textarea.form-control#message(rows=4, name='message', placeholder='What would you like to ask us?')

		br

		button.btn.btn-lg.btn-primary(type='submit') Send It!
