doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
		title The Music Mongrel
	body
		.header
			h1.page-title The Music Mongrel

		ul.nav
			li: a(href='/') Home
			li: a(href='/about') About
			li: a(href='/contact') Contact

		.main-content
			block content

		.footer
			p Copyright (c) 2017 Music Mongrel - All Rights Reserved.
