doctype html
html
	head
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/index.css')
		title The Music Mongrel
	body
		ul.nav
			li.flex-item: a(href='/') Home
			li.flex-item: a(href='/about') About
			li.flex-item: a(href='/shows') Shows
			li.flex-item: a(href='/contact') Contact
		.container
			.header.col-xs-12
				h1.page-title The Music Mongrel

			.main-content.col-xs-12.col-md-6.col-md-offset-3
				block content
		footer.footer.col-xs-12
			.container
				small.col-xs-12.col-md-6.col-md-offset-3.text-muted Copyright (c) 2017 Music Mongrel - All Rights Reserved.
