doctype html
html
	head
		link(rel='stylesheet', href='/css/index.css')
		title Music Mongrel
	body
		.header
			h1.page-title Music Mongrel

			ul.nav
				li: a(href='/') Home
				li: a(href='/about') About
				li: a(href='/contact') Contact
				li: a(href='/calendar') Calendar

			.main-content
				block content

			.footer
				p Copyright (c) 2017 Music Mongrel - All Rights Reserved.
