extend default

block content
	p.
		The Music Mongrel (TMM) is an ambitious venture to bring musical artists, diverse venues, and the regional community together. Nationally and internationally-recognized performers will be presented live in concert, and occasionally paired with local talent. “Genres” will be less important in this venture than great art. TMM’s vision is to inspire the audience as well as the artists, with new latitudes to express and appreciate the rich gift of music.
