extend default

block content
	h3.
		Upcoming Shows

	ul.showsList
		li: 14th August 1965 - The Beetles - Ed Sullivan Show - New York, NY
		li: 21st July - 6 August 2017 - Phish - Madison Square Garden - New York, NY
		li: 7th September 2017 Bela Fleck - Lincoln Center - Fort Collins, CO
