@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
    margin 0
    padding 0

body
    display flex
    flex-direction column

    background url('../assets/TMM_bg_v1.jpeg') no-repeat center center fixed
    background-size cover
    font-family Verdana

    .about
        flex-direction row
        justify-content center

        figure
            padding 1em

        figcaption
            color #fff

.header
    background-position center

  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 100px
    text-transform uppercase
    color #fff

.header-img
    height 100px

.nav
    background #000
    text-align center

    li
        display inline-block
        color #fff

    a
        display inline-block
        padding 20px
        color #fff
        text-decoration none

    &:hover
        background-color #3AB795
        text-decoration underline

.main-content
  margin 50px auto
  max-width 600px

  p
    line-height 1.6
    margin-bottom 1.7em
    color #fff

.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #fff
    font-size 12px
